<ion-view view-title="{{cityName(playlistId)}}'s Playlist">

    <swipe-cards>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)" >

            <div class="item item-avatar">
                <img src="{{card.result[0].icon}}">
                <h2>{{card.result[0].name}}</h2>
                <p>{{card.result[0].artist}}</p>
            </div>

            <div class="item item-image">
                <img src="{{card.result[0].icon400}}">
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>

        </swipe-card>
    </swipe-cards>
</ion-view>